{
    "data": [
        {
            "uuid": "{{device_uuids[item.host_name]}}",
            
            "product_info": {
                "capability": [
                    "YANG_CLI",
                    "GNMI",
                    "SNMP",
                    "YANG_MDT"
                ]
            }
        }
    ]
}